{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        /* Ajoutez vos styles CSS personnalisés ici */
        .table {
            margin-top: 2em;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Commande index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>DateCommande</th>
                    <th>MontantTotal</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ commande.montantTotal }}</td>
                        <td>
                            <a href="{{ path('app_commande_show', {'id': commande.id}) }}" class="btn btn-primary">Show</a>
                            <a href="{{ path('app_commande_edit', {'id': commande.id}) }}" class="btn btn-secondary">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_commande_new') }}" class="btn btn-success">Create new</a>
    </div>
{% endblock %}
