{% extends 'base.html.twig' %}

{% block title %}Edit Form{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Form</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}

        <a href="{{ path('app_adresse_index') }}" class="btn btn-secondary">Back to list</a>
    </div>
{% endblock %}
