{% extends 'base.html.twig' %}

{% block title %}Adresse index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Adresse index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Rue</th>
                    <th>CodePostal</th>
                    <th>Ville</th>
                    <th>Pays</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for adresse in adresses %}
                <tr>
                    <td>{{ adresse.id }}</td>
                    <td>{{ adresse.rue }}</td>
                    <td>{{ adresse.codePostal }}</td>
                    <td>{{ adresse.ville }}</td>
                    <td>{{ adresse.pays }}</td>
                    <td>
                        <a href="{{ path('app_adresse_show', {'id': adresse.id}) }}" class="btn btn-primary">show</a>
                        <a href="{{ path('app_adresse_edit', {'id': adresse.id}) }}" class="btn btn-primary">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_adresse_new') }}" class="btn btn-primary">Create new</a>
    </div>
{% endblock %}
