{% extends 'base.html.twig' %}

{% block title %}New Adresse{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Adresse</h1>

        {{ include('adresse/_form.html.twig') }}

        <a href="{{ path('app_adresse_index') }}" class="btn btn-secondary">Back to list</a>
    </div>
{% endblock %}
